// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

.wrapper {
  width: 90%;
  margin: 0 5%;
  @include clearfix;
  @include respond-to('large') {
      width: 1026px;
      /* 1140px - 10% for margins */
      margin: 0 auto;
  }
}

main {
  padding: 30px 0;
  article h1 {
    font-size: 2em;
  }
  aside, article {
    color: white;
    padding: 0px 5% 10px;
  }
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

//   /* ====================
//       WIDE: CSS3 Effects
//      ==================== */
  .header-container {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }
  main {
    aside, article {
      -webkit-box-shadow: 0 5px 10px #aaa;
      -moz-box-shadow: 0 5px 10px #aaa;
      box-shadow: 0 5px 10px #aaa;
    }
  }
  /* ============
      WIDE: Menu
     ============ */
  .title {
    float: left;
  }
  /* ============
      WIDE: Main
     ============ */
  main {
    aside {
      float: right;
      width: 28%;
    }
  }
