// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 20px solid $orange;
}

.footer-container {
  border-top: 20px solid $orange;
}

main {
  aside, article {
    border-top: 20px solid $orange;
  }
}

.header-container, .footer-container {
  background: $orange-sec;
}

main {
  aside, article, .featured section {
    background: $orange-sec;
  }
}

.title {
  color: white;
}

.main-container aside.ad {
  height: 800px;
  float: right;
  background: $orange-sec;
  // @include col(1,6);
}

.featured-container section {
  background: $orange;
}

article {
  @include rounded(8px);
}

section h2 {
  background: $orange;
  display: inline;
  @include rounded;
}

.title:before {
  content: url(../favicon.ico);
  vertical-align: middle;
}

.column {
  border: 0.1rem dashed #cea7e4;
}

#comment_header {
  width: 100%;
  background: #FF6633;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}