// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 20px solid $orange;
}

.footer-container {
  border-top: 20px solid $orange;
}

main {
  aside, article {
    border-top: 20px solid $orange;
  }
}

.header-container, .footer-container {
  background: $orange-sec;
}

main {
  aside, article, .featured section {
    background: $orange-sec;
  }
}

.title {
  color: white;
}

.main-container aside.ad {
  height: 800px;
  float: right;
  background: $orange-sec;
  // @include col(1,6);
}
.featured-container section {
  background: $orange;
}

article {
  @include rounded(8px);
}

section h2 {
  background: $orange;
  display: inline;
  @include rounded;
}

.title:before {
  content: url(../favicon.ico);
  vertical-align: middle;
}

.column {
border: 0.1rem dashed #cea7e4;
}
