// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 20px solid $orange;
}

.footer-container {
  border-top: 20px solid $orange;
}

main {
  aside, article {
    border-top: 20px solid $orange;
  }
}

.header-container, .footer-container {
  background: $orange-sec;
}

main {
  aside, article, .featured section {
    background: $orange-sec;
  }
}

.title {
  color: white;
}

section h2 {
  background: $orange;
  display: inline;
  @include rounded;
}
